@import './base.css';
@import "tailwindcss";

@theme {
  --color-primary: #F7F4EF;
  --color-secondary: #1A2F3B;
  --color-accent-orange: #E28743;
  --color-accent-green: hsla(160 100% 37% / 1);
}
:root {
  --color-primary: #F7F4EF;
  --color-secondary: #1A2F3B;
  --color-accent-orange: #E28743;
  --color-accent-green: hsla(160, 100%, 37%, 1);
  --color-primary-darker: #F1ECE4;
}

#app {
  font-weight: normal;
}

.page-heading-2 {
  @apply text-4xl md:text-5xl lg:text-7xl font-bold mb-2 md:mb-3 lg:mb-6 text-shadow-xs text-shadow-gray-800 tracking-tighter;
}

.page-heading {
  @apply text-4xl md:text-5xl font-serif text-slate-900 dark:text-slate-50 mb-3 tracking-tight;
}

.text-description {
  @apply text-base sm:text-lg lg:text-xl max-w-lg mb-4 tracking-tight leading-relaxed font-medium;
}

.circular-image {
 @apply rounded-full object-cover saturate-200;
}

.hover-scale-2 {
  @apply transform transition duration-500 hover:scale-[1.02];
}

a {
  text-decoration: none;
  transition: 0.4s;
  font-weight: 500;
  width: fit-content;
}
a:hover {
  text-decoration: underline wavy var(--color-accent-green);
  text-underline-offset: 3px;
}

.bg-primary-darker {
  background-color: var(--color-primary-darker);
}

.text-fresco {
  color: var(--fresco-text-color);
  transition: color 0.5s;
}


