@import './base.css';
@import "tailwindcss";

@theme {
  --color-primary: #F7F4EF;
  --color-secondary: #1A2F3B;
  --color-accent-orange: #E28743;
  --color-accent-green: hsla(160 100% 37% / 1);
}
:root {
  --color-primary: #F7F4EF;
  --color-secondary: #1A2F3B;
  --color-accent-orange: #E28743;
  --color-accent-green: hsla(160, 100%, 37%, 1);
  --color-primary-darker: #F1ECE4;
}

#app {
  /* max-width: 1440px;
  max-width: 1280px;
  margin: 0 auto; */
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  font-weight: 500;
  width: fit-content;
}
a:hover {
  text-decoration: underline wavy var(--color-accent-green);
  text-underline-offset: 3px;
}

.bg-primary-darker {
  background-color: var(--color-primary-darker);
}


